.full {
  background: url('../images/food-kitchen-cutting-board-cooking.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height:100%;
}

.cover-heading {
  font-size: 65px;
}